**/target/
**/jee-*/
**/eclipse-*/
**/.settings/
**/local/
**/.gradle/
**/bin/
**/build/
**/*.pptx
**/application-prod.properties
**/.idea/
**/.vscode/
**/.DS_Store
**/dependency*.txt
**/*.jar
**/.mvn/
**/dependency-reduced-pom.xml
